<!DOCTYPE html>
<html lang="en">
    <%- include('./templates/head') %>
    <body>
        <%- include('./templates/nav') %>
        <div class="text-center" style="margin-top: 50px; margin-bottom: 50px;"> <a  href="https://typesnap.com">New and improved version!</a></div>
       
        <div class="container">
            <div class="row mt-3 mb-5" id="stats-row">
                <!-- Time div-->
                <div class="col-3 p-1 text-center" id="timer-div">
                    <span class="stats-span" id="time-span">Time:</span>
                    <br>
                    <span class="stats-span" id="time-digit-span">60</span>
                </div>
                <!-- Accuracy div -->
                <div class="col-3 p-1 text-center">
                    <span class="stats-span">Accuracy</span>
                    <br>
                    <span class="stats-span" id="accuracy-span">n/a</span>
                </div>
                <!-- Correct div -->
                <div class="col-3 p-1 text-center">
                    <span class="stats-span">Correct</span>
                    <br>
                    <span class="stats-span" id="correct-points">0</span>
                </div>
                <!-- Incorrect div -->
                <div class="col-3 p-1 text-center">
                    <span class="stats-span">Incorrect</span>
                    <br>
                    <span class="stats-span" id="incorrect-points">0</span>
                </div>
            </div>

            <hr>

            <div class="p-3 text-center" id="demo-div">
                <% for(i=0;i<txt.length; ++i) { %>
                    <div class="words-div p-1" style="display: inline-block;">
                        <p class="word m-0 text-secondary" style="display: inline-block;"><%=  txt[i] %></p>
                    </div>
                <% } %>
            </div>
            <input class="form-control m-3" type="text" placeholder="Type here to start test">
            <div class="row" id="rules-row">
                <div class="col-4">
                    <h4 class="text-center">Rules</h4>
                    <p>You have one minute to spell every word that appears on the screen. As soon as a single character is typed into the textbox, the test will start. As you type, check at the stats above to see how many words you have spelled correctly. Incorrect points are tallied when one of the following occurs: </p>
                    <ul>
                        <li>Pressing spacebar before typing out the entire word</li>
                        <li>Typing an incorrect character within a word</li>
                        <li>Leaving the input bar blank</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h4 class="text-center">Benefits of Efficient Typing</h4>
                    <p>Learning to type with accuracy and efficiency will not only improve your work, but keep you more focused without having to look down constantly. Having to continuously look away from the screen can ruin one's train of thought. Making typing a skill that is almost second nature enables a person to perform their best work.</p>
                </div>
                <div class="col-4">
                    <h4 class="text-center">How to improve your typing</h4>
                    <p>Getting good at typing is a process and will not happen overnight. Remember that like anything else in life, practice makes perfect, and typing is no exception. First, get used to typing without looking down. This will keep you focused and overtime train your brain where specific keys are without having any visual cues. Do not stress over typing a word incorrectly. Learn from your mistakes and move on.</p>
                </div>
                <div class="col-12 mt-3">
                    <h4 class="text-center">What is WPM</h4>
                    <p class="text-center">Words per Minute, or better known as WPM, is a unit of measurement relating to how fast a person can type. It is a simple calculation that takes the number of characters typed divided by 5, then dividing that by the number of minutes the test took place. A standard word is considered to have 5 characters in it. The average person typically scores anything between 30 and 40 WPM, with professionals scoring much higher. More information on WPM can be found <a href="https://www.keyhero.com/news6/">here</a>.</p>
                    <div class="text-center">
                        <img src="/imgs/wpm.png" class="img-fluid" alt="wpm formula" id="wpm-pic">
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/scripts/type.js"></script>
</html>