<!DOCTYPE html>
<html lang="en">
<%- include('./templates/head') %>

<body>
  <%- include('./templates/nav') %>
  <div class="container">

    <div class="row mt-3 mb-5" id="stats-row">
      <!-- Time div-->
      <div class="col-3 p-1 text-center" id="timer-div">
        <span class="stats-span" id="time-span" style="font-weight: bold">Time:</span>
        <br>
        <span class="stats-span" id="time-digit-span" role="timer">60</span>
      </div>
      <!-- Accuracy div -->
      <div class="col-3 p-1 text-center">
        <span class="stats-span" style="font-weight: bold">Accuracy</span>
        <br>
        <span class="stats-span" id="accuracy-span">n/a</span>
      </div>
      <!-- Correct div -->
      <div class="col-3 p-1 text-center">
        <span class="stats-span" style="font-weight: bold">Correct</span>
        <br>
        <span class="stats-span" id="correct-points">0</span>
      </div>
      <!-- Incorrect div -->
      <div class="col-3 p-1 text-center">
        <span class="stats-span" style="font-weight: bold">Incorrect</span>
        <br>
        <span class="stats-span" id="incorrect-points">0</span>
      </div>
    </div>

    <hr>

    <div class="p-3 text-center" id="demo-div">
      <% for(i=0;i<txt.length; ++i) { %>
      <div class="words-div p-1" style="display: inline-block;">
        <p class="word m-0 text-secondary" style="display: inline-block;">
          <%= txt[i] %>
        </p>
      </div>
      <% } %>
    </div>
    <input class="form-control m-3" type="text" placeholder="Type here to start test">

    <%- include('./templates/social-btns') %>


    <div class="row text-center mt-5" id="rules-row">

      <h1 style="margin-top: 25px;">Free Online Speed Typing Test</h1>
      <p style="margin-bottom: 25px; font-size: 20px;">Type as many words as possible before the
        timer runs out.</p>

      <div class="col-4">
        <h2>Rules</h2>
        <p>The test will start as soon as you start typing into the textbox. You have one minute to spell every word
          that appears on the screen. As you type, check the stats above to see how many words you have spelled
          correctly. Incorrect points occur when one of the following happens: </p>
        <ul>
          <li>Pressing spacebar before typing out the entire word</li>
          <li>Typing an incorrect character within a word</li>
          <li>Leaving the input bar blank</li>
        </ul>
      </div>
      <div class="col-4">
        <h2>Benefits of efficient typing</h2>
        <p>Making typing an almost second nature skill enables a person to perform their best work. Learning to type
          with accuracy and efficiency will improve your work and keep you more focused without having to look down
          constantly. Having to look away from the screen continuously can ruin one's train of thought and diminish
          the quality of work.</p>
      </div>
      <div class="col-4">
        <h2>How to improve your typing</h2>
        <p>Getting good at typing is a process and will not happen overnight. Like anything else in life, practice
          makes perfect, and typing is no exception. First, get used to typing without looking down. Try and keep
          your eyes on the monitor the whole time. This will help you focus and, over time, train your brain where
          specific keys are without having any visual cues. Do not stress over mistyping a word. Learn from your
          mistakes and move on.</p>
      </div>
      <div class="col-4">
        <h2>What is WPM</h2>


        <p>
          Words per minute, better known as WPM, is a unit of measurement relating to how fast a person can type. It
          is a simple calculation that takes the number of characters placed on the screen divided by 5, then
          divides that by the number of minutes the test took place. A common word has five characters in it. The
          average person typically scores anything between 30 and 40 WPM, with professionals scoring much higher.
          You can find more information on WPM <a href="https://www.keyhero.com/news6/" target="_blank" rel="noreferrer">here</a>.
        </p>

      </div>
      <div class="col-4">
        <h2>What words are used</h2>
        <p>
          All words featured in the typing test above are randomly generated on the server while the page loads. It
          pulls from an index of thousands of words, many of which are difficult to spell. No two typing tests will
          feature the exact words, and you can always rely on this site to give you challenging typing tests.
        </p>

      </div>
      <div class="col-4">
        <h2>Proper technique</h2>
        <p>
          While typing, it is essential to keep your back straight and head up, looking straight at the screen. Like
          walking, you can benefit significantly from good posture and adequate blood flow. There is no "correct"
          posture, and each person is unique. Although this may be true, it is better to type whichever way is most
          comfortable.
        </p>

      </div>
      <div class="col-4">
        <h2>Where to place fingers on keyboard</h2>
        <p>
          The placement of fingers on the keyboard can vastly improve the speed and accuracy of one's typing skills.
          It is standard to place fingers across the 'asdf' and 'jkl;' with your right and left hands. The F and J
          key will have a small piece of plastic below the letter and help keep your index fingers always in the
          right spot.
        </p>

      </div>
      <div class="col-4">
        <h2>What is considered a good WPM</h2>
        <p>
          The average typing speed is around 40-50 words per minute. This can significantly vary depending on the
          person and how much experience one has with typing. Use some of the skills talked about above to help
          improve your typing speed! Try to get a score of 50 WPM on the test above.
        </p>

      </div>
      <div class="col-4">
        <h2>Why this typing test</h2>
        <p>
          Of the tens and thousands of online typing tests on the internet, onlinespeedtypingtest.com is built from
          the ground up to be as simplistic as possible, with quick loading times and ease of use. You can always rely on this site to provide free online speed typing tests.
        </p>

      </div>
    </div>
    <div class="row text-center">
      <a href="https://typesnap.com" style="text-decoration: none; color: white;" rel="noreferrer" target="_blank">
        <div class="text-center btn btn-danger" style="margin-top: 50px; margin-bottom: 10px;" role="button">New and
          improved version!</div>
      </a>

    </div>
    <p class="text-center" style="margin-top: 50px; margin-bottom: 50px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brush" viewBox="0 0 16 16">
        <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.118 8.118 0 0 1-3.078.132 3.659 3.659 0 0 1-.562-.135 1.382 1.382 0 0 1-.466-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04zM4.705 11.912a1.23 1.23 0 0 0-.419-.1c-.246-.013-.573.05-.879.479-.197.275-.355.532-.5.777l-.105.177c-.106.181-.213.362-.32.528a3.39 3.39 0 0 1-.76.861c.69.112 1.736.111 2.657-.12.559-.139.843-.569.993-1.06a3.122 3.122 0 0 0 .126-.75l-.793-.792zm1.44.026c.12-.04.277-.1.458-.183a5.068 5.068 0 0 0 1.535-1.1c1.9-1.996 4.412-5.57 6.052-8.631-2.59 1.927-5.566 4.66-7.302 6.792-.442.543-.795 1.243-1.042 1.826-.121.288-.214.54-.275.72v.001l.575.575zm-4.973 3.04.007-.005a.031.031 0 0 1-.007.004zm3.582-3.043.002.001h-.002z" />
      </svg> Made by <a href="https://awoldt.com" rel="noreferrer" target="_blank" style="text-decoration: none;">Awoldt</a></p>

  </div>

  <script src="/scripts/type.js"></script>
</body>


</html>