<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Free Online Speed Typing Test
  </title>
  <meta name="description" content="Type as many words as possible before the timer runs out. Learn typing techniques." />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://onlinespeedtypingtest.com/" />
  <meta property="og:image" content="https://onlinespeedtypingtest.com/imgs/typing-og-image.jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:site_name" content="Online Speed Typing Test" />
  <meta property="og:title" content="Online Speed Typing Test" />
  <meta property="og:description" content="Type as many words as possible, challenge your friends" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://onlinespeedtypingtest.com/" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="https://onlinespeedtypingtest.com/" />
  <meta name="twitter:title" content="Speed Typing Test" />
  <meta name="twitter:description" content="Challenge your friends and see who can type the most words" />
  <meta name="twitter:image" content="https://onlinespeedtypingtest.com/imgs/typing-og-image.jpg" />
   <!-- CSS only -->
   <link
   href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
   rel="stylesheet"
   integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
   crossorigin="anonymous"
 />
 <style>
  .col-4 {
    padding: 25px;
  }
 </style>
</head>
