<nav class="navbar navbar-expand-lg navbar-light bg-warning p-3">
  <a href="/" style="text-decoration: none;" class="navbar-brand"><h2>Online Speed Typing Test</h2></a>
  
  <% if(shareBtnInNav == true) { %>
    <!-- Facebook share btn -->
    <div class="fb-share-button" data-href="https://www.onlinespeedtypingtest.com/" data-layout="button" data-size="large"></div>
    <!-- Twitter share btn -->
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Can you type 100 words in one minute?" data-size="large">Tweet</a>
  <% } %>
  
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link text-center" aria-current="page" href="/privacy">Privacy</a>
      </li>
    </ul>
  </div>
</nav>